<section class="wheather">
	<div class="container">
		<div class="row">
			<form #wheater="ngForm" class="col-sm-12 form-inline text-sm-center ng-untouched ng-pristine ng-valid">
				<div class="form-group">
					    <input list="citylist" name="cityName" [(ngModel)]='cities' placeholder="start typing name">
						<datalist id="citylist" name="ds">
							 <option *ngFor = "let city of cityNames" value="{{city._id}}" id="{{city._id}}">
						</datalist>
						<!-- ng-options="city._id as city.name for city of cityNames" -->
 				 </div>
				<button type="submit" class="btn btn-primary" (click)='save(wheater.value, wheater.valid)'>Submit</button>
			</form>
		</div>
	</div>

	<!-- <h2>OUTPUT</h2>
	<div *ngIf="wheater">
		<pre>form value: <br>{{wheater.value | json}}</pre>
	</div> -->
</section>
