<section class="wheather">
	<div class="container">
		<div class="row">
			<form class="col-sm-12 form-inline text-sm-center ng-untouched ng-pristine ng-valid">
				<div class="form-group">
					    <input list="browsers" name="browser" placeholder="start typing name">
						 <datalist id="browsers">
							 <option *ngFor = "let city of cityNames" value="{{city.name}}">
							<!--<option value="Internet Explorer">
							<option value="Firefox">
							<option value="Chrome">
							<option value="Opera">
							<option value="Safari">-->
						</datalist> 
 				 </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</section>
