<section class="home-section">
	<div class="container">
		<div class="row">
			<form class="col-sm-6 offset-sm-3 text-sm-left">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
 				 </div>
				  <div class="form-group">
					<label for="exampleInputEmail1">Password</label>
					<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
 				 </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</section>
