/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
}
.about-section,
.home-section,
.contact-section {
    background-image: url('app/shared/images/1.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}
.about-section::before,
.home-section::before,
.contact-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
}
.home-section {
     background-image: url('app/shared/images/2.jpg');
}
.contact-section {
    background-image: url('app/shared/images/3.jpg');
}
.about-section h1,
.home-section h1,
.contact-section h1 {
    /*padding: 40px 0;*/
    font-size: 70px;
}